.sign-page_jobs{
    height: 50%;
    width: 80%;
    /* border: 0.01px solid #dadada; */
    /* margin-left: 16%; */
    /* margin-top: 10%; */
    position: relative;
    box-shadow: 0 10px 19px -3px rgb(0 0 0 / 7%), 0 8px 6px -2px rgb(0 0 0 / 5%);
      padding: 20px;
      line-height: 2;
      padding-top: 20px;

}

.sidejob{
    /* width: 100%; */
    height: 840px;
    background:rgba(0, 0, 0, 0.7);
    
}
.sidejobback {
    background: url('gxd.png') center center/cover no-repeat;
    height: 840px;
}
.sidejobback h1{
    padding-top: 70px;
    /* text-align: right; */
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 0ch;
    font-size: 40px;
    font-family: 'Sharp Grotesk',Verdana,sans-serif;
    
    /* font-size: 56px; */
    line-height: 1.3em;
}
.titleme span{
    color: #F93154;
}
.sign-page_jobs input[type="text"] {
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    /* width: 150%; */

    max-width: 592px;
    color: #000;
}
.sign-page_jobs textarea[type="text"] {
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    /* width: 100%; */
    max-width: 592px;
    color: #000;
}
.sign-page_jobs input[type="email"] {
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    /* width: 100%; */
    max-width: 592px;
    color: #000;
}
.sign-page_jobs input[type="number"] {
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    /* width: 100%; */
    max-width: 592px;
    color: #000;
}
.sign-page_jobs select{
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    /* padding: 15px; */
    /* width: 100%; */
    max-width: 592px;
    color: #000;
}


.btn--orange {
    border-radius: 5px;
    background: #3359DF;
    color: #ffffff;
    padding: 0 40px;
    height: 50px;
    line-height: 48px;
    display: inline-block;
    -webkit-transition: 0.2s;
    
}
.btn--orange:hover{
    background: #39C0ED;
    color: #ffffff;
}

.btn--orange_signup{
    border-radius: 5px;
    background: #F93154;
    color: #ffffff;
    padding: 0 40px;
    height: 50px;
    line-height: 48px;
    display: inline-block;
    -webkit-transition: 0.2s;
}

.btn--orange_signup:hover{
    color: #ffffff;
    background: #191970;
}

.checkout-step-title a {
    color: grey;
    font-size: 30px;
}
.Login__content h1{
    font-size: 26px;
}

.jobs-icon{
    padding-left: 150px;
    margin: 20px;
    padding-top: 30px;
}

.jobs-icon i{
    font-size: 40px;
    color: #F93154;
    font-weight: 600;
}
.jobs-icon span{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;

}