.write{
    /* padding-top: 5opx; */
}

.writeImg{
    /* margin-left: 150px; */
    width: 70vw;
    height: 550px;
    border-radius: 10px;
    object-fit: cover;
}
.writeForm{
    position: relative;

}

.wirteFormGroup{
    /* margin-left: 150px; */
    display: flex;
    align-items: center;
}
.wirteFormGroup input[type="text"]{
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    /* padding: 15px; */
    width: 100%;
    height: 45px;
    border-top: none;
    border-right: none;
    border-left: none;
}


.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(156, 154, 156);
}

.writeInput{
    font-size: 30px;
  
    padding: 20px;
    width: 200vw;
   
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
    height: 100vh;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #f2f2f2;
}

.writeSubmit{
    position: absolute;
    /* top: 20px; */
    /* right: 50px; */
    color: #fff;
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.writesetion {
    padding: 50px;
}