.mini-track__body{
    border: 1px solid #dcdcdc;
     border-top-color: rgb(220, 220, 220);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: none;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 30px;
    text-align: left;
    /* height: 335px; */
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 16px 0;
    text-align: left;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    background-color: #fff;
    padding-bottom: 20px;
}
.mini-track__body p{
    padding-top: 20px;
}
.mini-track__body:hover{
    box-shadow: 0 10px 18px 0 rgb(0 0 0 / 20%), 0 6px 30px 0 rgb(0 0 0 / 25%) !important;
    /* box-shadow: 0 0 6px rgb(35 173 255); */
    cursor: pointer;
    transform: scale(1.0);
}


.blog-back{
    /* padding: 5rem; */
    background-color: #f8f8f8;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.mini-track {
    max-width: 360px;
    margin: 40px auto;
    border-radius: 5px;
}
.blog-back img{
    width: 350px;
    height: 200px;
}
.linkme a{
    /* font-size: 1rem; */
    text-transform: uppercase;
    /* font-weight: 500; */
    color: #565B73;
    padding: 5px 18px;
    border-radius: 25px;
    display: inline-block;
    letter-spacing: 1px;
    background-color: #f8f8f8;
    text-decoration: none;
   
}
.linkme a:hover{
    /* font-size: 1rem; */
    text-transform: uppercase;
    /* font-weight: 500; */
    color: #fff;
    padding: 5px 18px;
    border-radius: 25px;
    display: inline-block;
    letter-spacing: 1px;
    background-color: #006dff;
    text-decoration: none;
  
}


.postImg {
    width: 100px;
}

.mini-track__body img{
    width: 280px;
    padding-right: 20px;
    padding-top: -40px;
}

.button--link-small {
    color: #000;
    font-weight: 700;
    transition: color .2s;
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    line-height: 24px;
    text-decoration-style: none;
    
}
.button--link-small {
    color: #000;
    font-weight: 700;
    transition: color .2s;
  text-decoration: none;
    
}

.plan {
    /* padding: 5rem; */
    /* background-color: #f8f8f8; */
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    position: relative;
    padding: 6rem;
}

.plan h2 {
    color: #39C0ED;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 3rem;
}

.plan span {
    color: #F93154;
}
element.style {
}
.list-group .list-group-item:last-child {
    -webkit-border-bottom-left-radius: .125rem;
    border-bottom-left-radius: .125rem;
    -webkit-border-bottom-right-radius: .125rem;
    border-bottom-right-radius: .125rem;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.list-group-item+.list-group-item {
    border-top-width: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.list-group-item {
    cursor: pointer;
 
}
.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    /* color: #262626; */
    padding-left: 2rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.planimag img{
    width: 900px;
}
.list-group-item p{
    /* color:  #1476f2; */
}
.plan h3{
    font-size: 18px;
    color: rgba(50,50,50,.7);
}

.middle {
    padding: 4rem;
}
.middle h1{
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}
.middle h2{
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #565B73;
}

.card i{
    text-align: center;
    font-size: 50px;
    color: red;
}
.card i:hover {
    color: #1476f2;
}

.middle img {
    height: 500px;
}

.panel-heading span{
    font-size: 22px;
   
}
.sizeme {
    width: 100%;
}

.sizeme2{
    width: 100%;
}

.contanct-section{
    background-image: url("../images/blox1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
}
.contanct-section p{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    
}

.background-sestion {
    padding-bottom: 5rem;
    padding-top: 5rem;
    background: rgba(0, 0, 0, 0.8); 
    /* background-color: red; */
}

@media only screen and (max-width: 600px) {

.middle {
    padding: 0.2rem;
}
.middle h1{
    font-size: 28px;
    padding-top: 1rem;
   
}
.middle h2{
    padding-top: 30px;
    font-size: 24px;
    font-weight: 400;

}

.card i{
    text-align: center;
    font-size: 30px;
    color: red;
}
.card i:hover {
    color: #1476f2;
}

.middle img {
    height: 300px;
}

.contanct-section p{
 
    font-size: 20px;
}

.plan {
    /* padding: 5rem; */
    /* background-color: #f8f8f8; */
    border: 1px solid #f2f2f2;
  
    padding: 0.2rem;
}

.plan h2 {
    color: #39C0ED;
    font-size: 30px;
    font-weight: 600;
    padding-top: 1rem;
}
.plan h3{
    font-size: 16px;

}
.list-group-item {
    position: relative;
    display: block;
    padding: .3rem 1rem;
    /* color: #262626; */
    padding-left: 2rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}


}