.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostTile {
    margin: 10px;
    font-family: 'lora', serif;
    font-size: 35px;
}
.singlePostInput{
    margin: 10px;
    font-family: 'lora', serif;
    font-size: 35px;
    border: none;
    border-bottom: 1px solid #000;
    color: grey;
}
.singlePostDescUpdate{
    /* border: none; */
    color: #666;
    font-size: 18px;
    line-height: 25px;
    width: 400px;
    height: 100px;
}
.singlePostEdit {
    float: right;
    font-size: 20px;
}
.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}
.singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}
.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.siglePostButton{
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
    float: right;
    
}